<?xml version="1.0"?>
<ruleset name=":vendor_name">
    <description>PHPCS configuration for :vendor_name :package_name</description>

    <file>src</file>

    <exclude-pattern>*/Tests/*</exclude-pattern>

    <arg name="report" value="summary"/>
    <arg value="np"/>

    <rule ref="PSR2"/>
</ruleset>
